@font-face {
    font-family: GESS;
    src: url("assets/fonts/GE_SS_Two_Bold.otf") format("opentype");
}
@font-face {
    font-family: GESS_LITE;
    src: url("assets/fonts/GE-SS-TV-Light_10.otf") format("opentype");
}

@font-face {
    font-family: GESS_2_LITE;
    src: url("assets/fonts/GE-SS-Two-Light_28.otf") format("opentype");
}

body {
  background-image: url("https://g.top4top.io/p_1671ef33e1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', 'GESS_2_LITE', arial;
}

.ar-rounded-boxes{
  border-radius: 25px;
}

.btn-success  {
  background-color:#9ACD32;
  color: white;
  border-color: transparent;
}

#logo{
  width: 20vw;
  min-width: 150px;
}

#map{
  width:100%;
  height:400px;
}
